<div id="sofrimento">
<h1>Bem vindo ao "fale conosco!" nos envie duvidas e suas mensagens!Sua opnião importa muito pra nós!</h1>
<form action="/fale/add" method="post">
        <p><label for="nome">Nome:</label></p>
        <p><input type="text" id="nome" name="nome"></p>
        <p><label for="email">Email:</label></p>
        <p><input type="email" id="email" name="email"></p>
        <p><label for="mensagem">Mensagem:</label></p>
        <p><textarea id="mensagem" name="mensagem"></textarea></p>
        <p><input type="submit" value="Enviar"></p>
</form>
</div>
